.imagus-popup-image {
  object-fit: contain;
  pointer-events: none;
  max-height: var(--max-imagus-height);
  max-width: var(--max-imagus-width);
}

#plasmo-shadow-container {
  pointer-events: none;
}

.imagus-popup-container {
  pointer-events: none;
}

#plasmo-mount-container {
  pointer-events: none;
}
